* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
main {
    background-image: url(./images/dark-wooden.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.main-wallpaper {
    /*background-image: url(./images/dark-wooden.jpg);
    background-size: cover;*/
    width: 100%;
    height: 100%;
}
/*==============
NAV
==============*/

.nav-link {
    color: white;
}
nav.navbar.navbar-expand-md.navbar-light.bg-faded {
    height: 120px;
}

#navbar-brand {
    margin-left: 3em;
    font-family: "Nunito", sans-serif;
    color: #a47357;
}

.nav-item {
    width: 150px;
    list-style: none;
}
#logo {
    width: 100%;
}

#navbar-toggle {
    color: white;
    font-family: "Nunito", sans-serif;
}
/*SEARCH CONTAINER*/

.search-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    margin-left: 1em;
    position: relative;
    max-width: 300px;
    min-width: 250px;
    width: 350px;
}

.search-box input {
    padding: 2%;
    width: 80%;
    height: 40px;
    border-radius: 5%;
    font-family: "Caveat", cursive;
    font-size: 20px;
    z-index: 1;
}

svg.svg-inline--fa.fa-search.fa-w-16 {
    position: absolute;
    left: 210px;
    top: 11px;
}
/*====================
    WELCOME PAGE
====================*/

.welcome-wraper {
    width: 90%;
    height: 80%;
    background-image: url(./images/ingredients.jpg);
    background-size: cover;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-wraper h1 {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 4em;
}
.welcome-wraper h2 {
    padding: 1%;
    font-family: "Nunito", sans-serif;
    color: white;
}

/*=========
RECIPES
=========*/
.recipes-wraper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.recipes-box {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-card.card {
    min-width: 185px;
}
.search-card {
    margin: 2%;
    width: 25%;
    height: 20%;
}

.recipe-description-wraper {
    width: 90%;
    margin-top: 10px;
}

.recipe-description-wraper h1 {
    text-align: center;
    padding: 2%;
    color: gold;
}

.recipe-uploader-box {
    width: 50%;
    background-color: lightsalmon;
    margin: 2%;
    padding: 2%;
}

.recipe-uploader-box h1 {
    color: inherit;
}
.card {
    margin: 2%;
}
.recipe-card {
    width: 30%;
}

.card-img-top {
    width: 100%;
    height: 250px;
}

h6.card-subtitle {
    text-align: center;
    margin-bottom: 10px;
}

.ingredients-list {
    margin: 0.5em;
}

/*=================
HOME
=================*/
.row {
    padding: 1%;
}
/*===================
REGISTRATION FORM
===================*/
.registration-form,
.login-form {
    padding: 1.5%;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 90%;
    border-top: 2px solid black;
}
.label {
    margin-left: 0.5rem;
}
/*=====================
LOGIN
=====================*/

.error {
    color: red;
}
